---
import Layout from "../layouts/MainLayout.astro";
---

<Layout title="Compras">
  <header>
    <h2
      class="mt-8 pb-5 text-3xl font-bold text-center tracking-tight text-gray-900 dark:text-white"
    >
      Confirmar compras
    </h2>
  </header>
  <div class="rounded-lg shadow-lg p-6 max-w-md mx-auto">
    <h2 class="text-2xl font-bold mb-4">Información Personal</h2>

    <div class="space-y-3">
      <input
        class="w-full p-2 border border-gray-300 rounded dark:text-gray-700"
        type="text"
        placeholder="Nombre del cliente"
      />
      <input
        class="w-full p-2 border border-gray-300 rounded dark:text-gray-700"
        type="text"
        placeholder="+51 987 623 418"
      />
      <input
        class="w-full p-2 border border-gray-300 rounded dark:text-gray-700"
        type="text"
        placeholder="Wall Street Avenue"
      />
    </div>

    <div class="mt-6">
      <label class="block text-sm font-bold mb-2">Método de pago</label>
      <select
        class="w-full p-2 rounded border border-gray-300 dark:text-gray-900"
        title="a"
        id="payment-method"
        onchange="showCardDetails()"
      >
        <option value="">Selecciona un método de pago</option>
        <option value="visa">VISA</option>
        <!-- Agrega aquí más métodos de pago -->
      </select>

      <div id="card-details" class="space-y-3 mt-4 hidden">
        <input
          class="w-full p-2 border border-gray-300 rounded dark:text-gray-700"
          type="text"
          placeholder="Número de tarjeta"
        />
        <input
          class="w-full p-2 border border-gray-300 rounded dark:text-gray-700"
          type="text"
          placeholder="Fecha de vencimiento"
        />
        <input
          class="w-full p-2 border border-gray-300 rounded dark:text-gray-700"
          type="text"
          placeholder="CVV"
        />
      </div>
    </div>

    <!-- Aquí puedes agregar el resto de la página tal como se muestra en la imagen -->

    <div class="mt-6 pb-2">
      <label class="block text-sm font-bold mb-2"
        >Lista de productos a comprar</label
      >
      <div id="productListContainer"></div>
    </div>

    <div>
      <div class="flex justify-between items-center">
        <span>Total a pagar:</span>
        <span id="totalPrice" class="text-lg font-bold">S./ 0.00</span>
      </div>
      <div class="flex space-x-2 mt-4">
        <button
          class="flex-1 py-2 bg-blue-500 text-white rounded"
          id="confirmButton">Confirmar compra</button
        >
        <button
          class="flex-1 py-2 bg-red-500 text-white rounded"
          id="cancelButton">Cancelar</button
        >
      </div>
    </div>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const paymentMethodSelect = document.getElementById(
        "payment-method"
      ) as HTMLSelectElement;
      const cardDetails = document.getElementById("card-details");

      function showCardDetails() {
        const paymentMethod = paymentMethodSelect.value;
        const paymentMethods = {
          visa: () => cardDetails.classList.remove("hidden"),
          // Agrega aquí más métodos de pago
        };

        if (paymentMethods[paymentMethod]) {
          paymentMethods[paymentMethod]();
        } else {
          cardDetails.classList.add("hidden");
        }
      }

      paymentMethodSelect.addEventListener("change", showCardDetails);

      const selectedProducts =
        JSON.parse(localStorage.getItem("selectedProducts")) || [];
      const productListContainer = document.getElementById(
        "productListContainer"
      );

      if (selectedProducts.length === 0) {
        productListContainer.innerHTML =
          '<p class="pb-3">No hay productos seleccionados para comprar.</p>';
      } else {
        selectedProducts.forEach((product, index) => {
          const productElement = document.createElement("div");
          productElement.className = "flex items-center space-x-2 py-3";
          productElement.innerHTML = `
            <img class="w-16 h-16 object-cover" src="${product.image}" alt="Imagen del producto" />
            <div class="flex-1">
              <h3 class="text-lg font-bold">${product.name}</h3>
              <p class="text-gray-500">S./ ${product.price.toFixed(2)}</p>
            </div>
            <div class="flex items-center space-x-1">
              <button class="decrement px-2 font-semibold bg-gray-200 dark:bg-gray-700">-</button>
              <span class="number mx-2 font-semibold">${product.quantity}</span>
              <button class="increment px-2 font-semibold bg-gray-200 dark:bg-gray-700">+</button>
            </div>
          `;

          function updateSelectedProducts(products) {
            localStorage.setItem("selectedProducts", JSON.stringify(products));
          }

          function setTotalPrice(total) {
            document.getElementById("totalPrice").textContent =
              `S./ ${total.toFixed(2)}`;
          }

          function calculateTotal() {
            let total = 0;
            selectedProducts.forEach((product) => {
              total += product.price * product.quantity;
            });
            setTotalPrice(total);
          }

          calculateTotal();

          productElement
            .querySelector(".decrement")
            .addEventListener("click", () => {
              if (product.quantity > 1) {
                product.quantity -= 1;
                productElement.querySelector(".number").textContent =
                  product.quantity;
                updateSelectedProducts(selectedProducts);
                calculateTotal();
              }
            });

          productElement
            .querySelector(".increment")
            .addEventListener("click", () => {
              if (product.quantity < 10) {
                product.quantity += 1;
                productElement.querySelector(".number").textContent =
                  product.quantity;
                updateSelectedProducts(selectedProducts);
                calculateTotal();
              }
            });

          productListContainer.appendChild(productElement);
        });
      }

      function confirmPurchase() {
        alert("Compra confirmada");
        localStorage.setItem("selectedProducts", "");
        window.location.href = "./cesta";
      }

      function cancelPurchase() {
        alert("Compra cancelada");
        localStorage.setItem("selectedProducts", "");
        window.location.href = "./cesta";
      }

      document
        .getElementById("confirmButton")
        .addEventListener("click", confirmPurchase);
      document
        .getElementById("cancelButton")
        .addEventListener("click", cancelPurchase);
    });
  </script>
</Layout>
