---
interface Props {
  idPrenda: string;
  imgPrenda: string;
  nombrePrenda: string;
  colorPrenda: string;
  precioPrenda: string;
  // details: string;
}

const { idPrenda, imgPrenda, nombrePrenda, colorPrenda, precioPrenda } = Astro.props;

const prendaId = idPrenda != null ? idPrenda : "null";
const prendaImagen = imgPrenda != null ? imgPrenda : "null";
const prendanombrePrenda = nombrePrenda != null ? nombrePrenda : "null";
const prendacolorPrenda = colorPrenda != null ? colorPrenda : "null";
const prendaprecioPrenda = precioPrenda != null ? precioPrenda : "null";

---

<article class="group relative">
  <div
    class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80"
  >
    <img
      src={prendaImagen}
      alt="Front of men's Basic Tee in black."
      class="h-full w-full object-cover object-center lg:h-full lg:w-full"
    />
  </div>
  <div class="mt-4 flex justify-between">
    <div>
      <h3 class="text-sm text-gray-700 dark:text-white">
        <a href={`./prendas/${prendaId}`}>
          <span aria-hidden="true" class="absolute inset-0"></span>
          {prendanombrePrenda}
        </a>
      </h3>
      <p class="mt-1 text-sm text-gray-500 dark:text-gray-400">{prendacolorPrenda}</p>
    </div>
    <p class="text-sm font-medium text-gray-900 dark:text-white">S/{prendaprecioPrenda}</p>
  </div>
</article>
