---
import { getAllProductos } from "../../services/prendas";
import { type Producto } from "../../types/producto";
import CardPrendas from "./CardPrendas.astro";

const productos: Producto[] = await getAllProductos();
---

<section
  class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:gap-x-8"
>
  {
    productos.map((producto) => (
      <CardPrendas
        id={producto.id_producto}
        nombre={producto.nombre}
        color={producto.color}
        precio={producto.precio}
        marca={producto.marca}
        img={producto.img}
      />
    ))
  }
</section>
